@using Microsoft.AspNetCore.Identity
@using BloodKoshh.Areas.Identity.Data;
@inject SignInManager<BloodKoshhUser> SignInManager
@inject UserManager<BloodKoshhUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Blood Kosh</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container contain">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <div class="logo"><img src="~/images/logo.png" alt="BloodKosh"></div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown" style="cursor: pointer;">
                            <a class="nav-link" id="navbarDropdown">
                                Looking For Blood
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="dropdown-divider target"></div>
                                <a class="dropdown-item drop-text" asp-controller="Donor" asp-action="Index">Blood Availability</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item drop-text" asp-controller="BloodBank" asp-action="Index">Blood Bank Directory</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" style="cursor: pointer;">
                            <a class="nav-link" id="navbarDropdown">
                                Events
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="dropdown-divider target"></div>
                                <a class="dropdown-item drop-text" asp-controller="Event" asp-action="Index">Event List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item drop-text" asp-controller="Event" asp-action="CreateOrEdit">Add Event</a>
                            </div>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown" style="cursor: pointer;">
                                <a class="nav-link" id="navbarDropdown">
                                    Manage Donor
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-divider target"></div>
                                    <a class="dropdown-item drop-text" asp-controller="Donor" asp-action="Index">Donor Details</a>
                                </div>
                            </li>
                        }
                        else if (User.IsInRole("Donor"))
                        {
                            <li class="nav-item dropdown" style="cursor: pointer;">
                                <a asp-controller="Donor" asp-action="Index" class="nav-link" id="navbarDropdown">
                                    Add Details
                                </a>
                            </li>
                            <li class="nav-item dropdown" style="cursor: pointer;">
                                <a class="nav-link" id="navbarDropdown">
                                    Donors
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item drop-text" asp-controller="Donor" asp-action="Index">List</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" style="cursor: pointer;">
                                <a class="nav-link" id="navbarDropdown">
                                    BloodBanks
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item drop-text" asp-controller="BloodBank" asp-action="Index">List</a>
                                </div>
                            </li>
                        }
                        else if (User.IsInRole("BloodBank"))
                        {
                            <li class="nav-item dropdown" style="cursor: pointer;">
                                <a class="nav-link" id="navbarDropdown">
                                    Add BloodBank Details
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item drop-text" asp-controller="BloodBank" asp-action="CreateOrEdit">Add Information</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" style="cursor: pointer;">
                                <a class="nav-link" id="navbarDropdown">
                                    Blood Bank List
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item drop-text" asp-controller="BloodBank" asp-action="Index">List</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" style="cursor: pointer;">
                                <a class="nav-link" id="navbarDropdown">
                                    Donor List
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item drop-text" asp-controller="Donor" asp-action="Index">List</a>
                                </div>
                            </li>
                        }

                    </ul>
                    @*<ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                        </ul>*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/revealonscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scroll.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    @*<footer >
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-logo">
                    <img src="~/images/logo.png">
                </div>
                <div class="col-md-6 footer-text">
                    © 2022 Blood Kosh | Designed and Developed By MBM College Students.
                </div>

            </div>
        </div>
    </footer>*@
</body>
</html>
