@model List<BloodKosh.Controllers.Locationinf>
<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="list.css">
    <link rel="stylesheet" href="public/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
</head>
<body>
    <div class="donor-details-panel content">
        <div style="padding:130px" class="container content-panel">
            <div class="row">
                <div class="col-md-4 col-sm-4 search-field">
                    <p style="margin: 0; background: #d14461;" class="btn search-button form-control">
                        Nearest <span class="hidden-sm">Donors</span>
                    </p>
                </div>
            </div>
            <div class="donor-list">
                <div class="row">
                    <div class="col-md-12 donor-details" id="donorDetail">
                        <table class="table table-striped">
                            <thead>
                                <tr class="tbl-row-header">
                                    <th>S. No.</th>
                                    <th>Location Name</th>
                                    <th>Request</th>
                                </tr>
                            </thead>
                            <tbody id="donorDetailsData">
                                @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                <tr>
                                    <td data-title="id">@(i++)</td>
                                    <td itemprop="address" data-title="address">@item.address</td>
                                    <td>
                                        @*<button type="submit" class="search-button" name="Search">MoreInfo</button>*@
                                        <form method="get" asp-controller="Seeker" asp-action="CreateOrEdit" class="main-container-search-section-form">
                                            <button type="submit" class="btn btn-secondary">Request Blood </button>
                                            </form>
                                    </td>
                                </tr>
                                    }                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

    <script src="~/js/jquery-3.4.1.slim.min.js"></script>
    <script src="~/js/revealonscroll.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scroll.js"></script>
</body>

</html>
