body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: #cd3e3e;
  height: 100vh;
  overflow: hidden;
}
.login-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  background: whitesmoke;
  border-radius: 10p;
}
.login-center h1 {
  text-align: left;
  margin-left: 30px;
}
.login-txt_field label {
  display: flex;
  margin-bottom: 5px;
  color: #212529;
  font-size: 25px Inter, serif;
  font-weight: 800;
  margin-left: 30px;
}
.login-txt_field input {
  width: 85%;
  height: 33px;
  outline: none;
  margin-left: 30px;
  margin-bottom: 10px;
}
.login-submit {
  margin-left: 30px;
  width: 86%;
  height: 33px;
  cursor: pointer;
  background-color: #cd3e3e;
  color: white;
  border: none;
  margin-bottom: 10px;
}
.login-pass {
  margin-left: 30px;
  margin-top: 2px;
  color: black;
  font-size: 15px;
  font-weight: 800;
  text-decoration: none;
}
.login-button {
  border-top: 2px solid silver;
  margin-left: 130px;
  width: 50%;
  height: 33px;
  cursor: pointer;
  background-color: rgb(43, 226, 104);
  color: white;
  border: none;
  margin-top: 10px;
}
