@model BloodKoshh.Models.BloodBankViewModel;

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="~/css/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:white">
    <div class="register-container" style="margin:130px; margin-left:270px">
        <h1>Blood Bank Approve</h1>
        <div class="content">
            <form asp-controller="BloodBank" asp-action="Approve" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Blood Bank Name</span>
                        <input asp-for="BloodBankName" type="text" placeholder="Enter BloodBank Name" required>
                    </div>
                    <div class="input-box">
                        <span class="details"> Address</span>
                        <select class="selectgroup" asp-items="ViewBag.Address" asp-for="Location">
                            <option value="">--Select Address--</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input asp-for="Phone_No" type="text" placeholder="Enter Phone No." required>
                    </div>
                    <input type="hidden" value="true" asp-for="ApprovedStatus" />
                </div>
                <div class="button">
                    <input type="submit" value="Approve Blood Bank">
                </div>
            </form>
        </div>

    </div>
</body>
</html>